.root {
  font-size: 13px;
}

.copied {
  font-size: 13px;
  opacity: 0.2;
}

.avatar {
  margin-right: 10px;
}

.user {
  display: flex;
  flex-grow: 2;
  align-items: center;
}

.details {
  padding-right: 10px;
}

.twitterText {
  margin-left: 10px;
  margin-top: 0.5em;
  padding: 0.5em;
  border-radius: 6px;
  background: #eaeaea;
  position: relative;
  word-break: break-word;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
}

.twitterText::after {
  content: " ";
  position: absolute;
  width: 0;
  height: 0;
  left: -10px;
  right: auto;
  top: 0;
  bottom: auto;
  border: 10px solid;
  border-color: #eaeaea transparent transparent transparent;
}

:global(.app-theme--dark) .twitterText {
  background: #51555a;
}

:global(.app-theme--dark) .twitterText::after {
  border-color: #51555a transparent transparent transparent;
}

.userName {
  padding-right: 0.5em;
}

.raidID {
  font-size: 16px;
  font-weight: bold;
}